<div class="left">
    <app-slider [type]="'doctors'" [label]="'Number of doctors'"></app-slider>
    <app-slider [type]="'patients'" [label]="'Number of patients'"></app-slider>
    <app-slider [type]="'infected'" [label]="'Number of infected patients'"></app-slider>
    <app-slider [type]="'infectiousness'" [label]="'Infectiousness of virus'"></app-slider>
    <app-slider [type]="'cycles'" [label]="'Cycles before patient death'"></app-slider>

    <input type="checkbox" name="restart" (change)="this.autoRestart = !this.autoRestart"> Restart automatically
    <button *ngIf="currentState === 'undefined' || currentState === 'reset'" (click)="start()">Start</button>
    <button *ngIf="currentState === 'start' || currentState === 'restart'" (click)="stop()">Stop</button>
    <button *ngIf="currentState === 'stop'" (click)="restart()">Restart</button>
    <button *ngIf="currentState === 'stop' || currentState === 'restart'" (click)="reset()">Reset</button>

    <p>Estimated number of deaths: {{ currentPrediction }}</p>

    <div class="legend">
        <h3>Legend</h3>
        <div class="type">
            <div class="doctor"></div>
            <p>Doctor</p>
        </div>
        <div class="type">
            <div class="patient"></div>
            <p>Patient</p>
        </div>
        <div class="type">
            <div class="patient infected"></div>
            <p>Infected patient</p>
        </div>
    </div>
</div>

<div class="right">
    <app-world
            [state]="currentState"
            [autoRestart]="autoRestart"
            [currentPrediction]="currentPrediction"
            (stateChange)="onStateChange($event)">
    </app-world>
</div>
